html,
body {
    height: 100%;
}
html {
    display: initial;
    margin: initial;
}
body {
    display: initial;
    vertical-align: initial;
    background-color:#e3f2fd !important;
}

.tabs {
    background: #e3f2fd;
}