<div class="container">
    <form class="card-panel" ng-submit="submit()">
        <div class="row">
            <div class="input-field center-align col s12 register-title">
                Preencha as informações abaixo
            </div>
        </div>
        <div class="row">
            <div class="input-field col m6 s12">
                <i class="material-icons prefix">contacts</i>
                <input 
                ng-model="nome" 
                id="name"
                type="text" 
                class="validate"
                required oninvalid="this.setCustomValidity('Campo nome obrigatório')" 
                oninput="setCustomValidity('')">
                <label for="name">Nome</label>
            </div>
            <div class=" col s6">
                <input ng-model="ativo" type="checkbox" id="remember-me">
                <label for="remember-me">Ativo</label>
            </div>
        </div>
        <div class="row">
            <p>
                <div class="col s6">
                    <input checked ng-model="tipoCliente" value="0" name="groupTipoCliente" type="radio" id="pf" />
                    <label for="pf">Pessoa Física</label>
                </div>
            </p>
            <p>
                <div class="col s6">
                    <input ng-model="tipoCliente" value="1" name="groupTipoCliente" type="radio" id="pj" />
                    <label for="pj">Pessoa Jurídica</label>
                </div>
            </p>
        </div>
        <div ng-if="tipoCliente == '0'" class="row">
            <div class="input-field  col m6 s12">
                <i class="material-icons prefix">person_pin</i>
                <input 
                required 
                ng-model="documento" 
                mask='999.999.999-99'
                id="cpf" 
                type="text" 
                class="validate"
                oninvalid="this.setCustomValidity('Campo cpf obrigatório')" 
                oninput="setCustomValidity('')">
                <label for="cpf">CPF</label>
            </div>
        </div>
        <div ng-if="tipoCliente == '1'" class="row">
            <div class="input-field  col m6 s12">
                <i class="material-icons prefix">person_pin</i>
                <input 
                required 
                ng-model="documento" 
                mask='99.999.999/9999-99'
                id="cnpj" 
                type="text" 
                class="validate"
                oninvalid="this.setCustomValidity('Campo cnpj obrigatório')" 
                oninput="setCustomValidity('')">
                <label for="cnpj">CNPJ</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field  col m6 s12">
                    <i class="material-icons prefix">phone</i>
                    <input 
                    ng-model="telefone" 
                    mask='(99)9999-9999' 
                    id="telefone" 
                    type="text" 
                    class="validate">
                    <label for="telefone">Telefone</label>
                </div>
            <div class="input-field  col m6 s12">
                    <i class="material-icons prefix">phone_iphone</i>
                    <input 
                    required 
                    ng-model="celular" 
                    mask='(99)9?9999-9999'
                    id="celular" 
                    type="text" 
                    class="validate"
                    oninvalid="this.setCustomValidity('Campo celular obrigatório')" 
                    oninput="setCustomValidity('')">
                    <label for="celular">Celular</label>
                </div>
        </div>
        <div class="row">
            <div class="input-field  col m6 s12">
                <i class="material-icons prefix">location_on</i>
                <input 
                required 
                ng-model="cep" 
                mask='99.999.999'
                id="cep" 
                type="text" 
                class="validate"
                oninvalid="this.setCustomValidity('Campo CEP obrigatório')" 
                oninput="setCustomValidity('')">
                <label for="cep">CEP</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field  col m9 s12">
                <i class="material-icons prefix">theaters</i>
                <input 
                required 
                ng-model="logradouro" 
                id="logradouro" 
                type="text" 
                class="validate"
                oninvalid="this.setCustomValidity('Campo Logradouro obrigatório')" 
                oninput="setCustomValidity('')">
                <label for="logradouro">Logradouro</label>
            </div>
            <div class="input-field  col m3 s12">
                <i class="material-icons prefix">looks_two</i>
                <input 
                required 
                ng-model="numero" 
                id="numero" 
                type="text" 
                class="validate"
                oninvalid="this.setCustomValidity('Campo Número obrigatório')" 
                oninput="setCustomValidity('')">
                <label for="numero">Número</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field  col m6 s12">
                <i class="material-icons prefix">subject</i>
                <input 
                ng-model="complemento" 
                id="complemento" 
                type="text">
                <label for="complemento">Complemento</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field  col m6 s12">
                <i class="material-icons prefix">location_city</i>
                <input 
                required
                ng-model="cidade" 
                id="cidade" 
                type="text"
                oninvalid="this.setCustomValidity('Campo Cidade obrigatório')" 
                oninput="setCustomValidity('')">
                <label for="cidade">Cidade</label>
            </div>
            <!--TODO: Estado será um select-->
            <div class="input-field  col m6 s12">
                    <i class="material-icons prefix"></i>
                    <input 
                    required
                    ng-model="estado" 
                    id="estado" 
                    type="text"
                    oninvalid="this.setCustomValidity('Campo Estado obrigatório')" 
                    oninput="setCustomValidity('')">
                    <label for="estado">Estado</label>
                </div>
        </div>
        <div class="row">
            <div class="input-field  col s12">
                <i class="material-icons prefix">comment</i>
                <textarea ng-model="observacao" id="note" cols="30" rows="10" class="validate"></textarea>
                <label for="note">Observação</label>
            </div>
        </div>
        <div class="row">
            <div class=" col s6">
                <input ng-model="contribICMS" type="checkbox" id="contICMS">
                <label for="contICMS">Contribuinte de ICMS</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field  col s12">
                <button class="waves-effect waves-light btn right "><i class="large material-icons right">done</i>Cadastrar</button>
            </div>
        </div>
    </form>
</div>