<link rel="stylesheet" href="../css/home/home.css">
<link href="../css/bootstrap.min.css" rel="stylesheet">

<nav class="nav-extended light-blue lighten-1">
    <div class="nav-wrapper">
        <a href="/home" class="brand-logo center-align">
            <img src="../img/logo_transcota.svg" class="responsive-img" alt="Transcota">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="tab col s3">
                <li><a  ng-click="logout()" href="#"><i class="material-icons right">exit_to_app</i>Sair</a></li>
            </li>
        </ul>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab">
                <a class="active" href="#home">Inicio</a>
            </li>
            <li class="tab">
                <a href="#clientes">Clientes</a>
            </li>
            <li class="tab">
                <a href="#usuarios">Usuários</a>
            </li>
            <li class="tab">
                <a href="#coleta">Coleta</a>
            </li>
            <li class="tab">
                <a href="#entrega">Entrega</a>
            </li>
            <li class="tab">
                <a href="#cotacaoDedicada">Cotação Dedicada</a>
            </li>
            <li class="tab">
                <a href="#cotacaoFracionada">Cotação Fracionada</a>
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li class="tab col s3">
        <li><a  ng-click="logout()" href="#"><i class="material-icons right">exit_to_app</i>Sair</a></li>
    </li>
</ul>
<div id="home" class="col s12">
    <div class="section no-pad-bot" id="index-banner">

        <div class="row">
            <div class="col-md-6">
                <canvas id="statusCotacoes"></canvas>
            </div>
            <div class="col-md-6">
                <canvas id="tarifasOfertadas" ></canvas>
            </div>
        </did>
        <div class="row">
            <div class="col-md-6">
                <canvas id="faturamento" ></canvas>
            </div>
            <div class="col-md-6">
                <canvas id="acompanhamentoContato" ></canvas>
            </div>
        </div>

    </div>
</div>

<div id="clientes" class="col s12">
    <customers></customers>
</div>
<div id="usuarios" class="col s12">
    <users></users>
</div>
<div id="coleta" class="col s12">
    <collects></collects>
</div>
<div id="entrega" class="col s12">
    <deliverys></deliverys>
</div>

<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.tabs').tabs();
    });
</script>